.about {
  margin-bottom: var(--gap-section);

  &__container {
    position: relative;
  }

  &__wrapper {
    border-radius: var(--border-radius-section) 0 var(--border-radius-section) var(--border-radius-section);
  }

  &__title-block {
    position: relative;
    max-width: 21.0625rem;
    border-radius: var(--border-radius-section) 0 0 0;
    background-color: var(--color-section-bg);

    &::after {
      content: url('../images/section-graphic.svg');
      position: absolute;
      top: 0;
      right: 0;
      width: 3.875rem;
      height: 3.65625rem;
    }
  }

  &__title {
    padding: 1.75rem var(--section-padding) 0;
  }

  &__content {
    display: flex;
    gap: var(--gap-main);
    padding: 3.3125rem var(--section-padding) 6.25rem;
    margin-top: -.5rem;
    border-radius: 0 var(--border-radius-section) var(--border-radius-section) var(--border-radius-section);
    background-color: var(--color-section-bg);
  }

  &__text-block {
    max-width: 31.25rem;
  }

  &__subtitle {
    margin-bottom: 1.25rem;
    color: var(--color-section-subtitle);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__descr {
    &:not(:last-child) {
      margin-bottom: 1.1875rem;
    }
  }

  &__img {
    display: block;
    min-width: 25rem;
    min-height: 100%;
    padding-top: 0.1875rem;
    object-fit: cover;
    border-radius: var(--border-radius-img);
  }
}

@include media('max', 'xl') {
  .about {
    &__title-block {
      margin: 0 auto;

      &::before {
        content: url('../images/section-graphic.svg');
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(-1, 1);
        will-change: transform;
      }
    }

    &__content {
      flex-direction: column;
      padding-bottom: 3.5rem;
      border-top-left-radius: var(--border-radius-section);
    }

    &__text-block {
      order: 2;
      max-width: 39rem;
    }

    &__img {
      width: 100%;
      max-height: 21.875rem;
    }
  }
}

// 768px
@include media('max', 'lg') {
  .about {
    &__title {
      padding-top: 2.25rem;
    }
    
    &__content {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-bottom: 4rem;
    }
  }
}

// 480px
@include media('max', 'sm') {
  .about {
    &__title-block {
      max-width: 100%;
      margin: 0;
      border-radius: 0;

      &::before {
        content: url('../images/section-graphic-mobile-2.svg');
        top: -1px;
        transform: none;
      }

      &::after {
        content: url('../images/section-graphic-mobile-2.svg');
        top: -1px;
        transform: scale(-1, 1);
      }
    }

    &__title {
      padding: 1.25rem 1.25rem 0;
    }

    &__content {
      padding-top: 1.125rem;
      padding-bottom: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &__img {
      min-width: 10rem;
      max-height: 11.875rem;
      padding-top: 0;
    }
    
    &__subtitle {
      margin-bottom: 0.6875rem;
      font-size: 1.125rem;
    }

    &__text-block {
      max-height: 13.125rem;
      overflow: hidden;
      transition: max-height var(--transition);
    }

    &__text {
      background-image: linear-gradient(to bottom, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0) 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__descr {
      font-size: 0.875rem;

      &:last-child {
        padding-bottom: 2rem;
      }
    }

  }
}