.contacts {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  &__content {
    padding-left: var(--section-padding);
  }

  &__title-block {
    margin-bottom: 24px;
  }
  
  &__title {
    line-height: 100%;
  }

  &__address {
    margin-bottom: 21px;
  }

  &__socials {
    margin-bottom: 25px;
  }

  &__map-wrapper {
    width: 100%;    
    max-width: 800px;
    min-width: 17.5rem;
    padding-right: var(--section-padding);
  }
}

// ----- Медиа-запросы -----
// 768px
@include media('max', 'lg') {
  .contacts {
    &__container {
      flex-direction: column;
    }

    &__content {
      padding: 0 1.25rem;
    }

    &__map-wrapper {
      padding: 0 1.25rem;
    }

    &__socials {
      justify-content: center;
      max-width: 18.75rem;
      margin-left: auto;
      margin-right: auto;
    }

    .privacy {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

// 480px
@include media('max', 'xl') {
  .contacts {
    &__container {
      gap: 2rem;
    }

    &__title-block {
      margin-bottom: 1.25rem;
    }

    &__socials {
      justify-content: space-between;
    }
  }
}