@import './blocks/nav';
@import './blocks/burger';
@import './blocks/header-swiper';

.header {
  position: relative;
  min-height: 46.875rem;
  margin-bottom: 6.21rem;
  overflow: hidden;

  &__wrapper {
    position: relative;
    width: 100%;
    padding: 0 0.9375rem;
    padding-top: 2.1875rem;
    z-index: 99;

    &.header-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 99;

      .header__content {
        // padding-left: 0;
        margin: 0;
      }
    }
  }

  &__swiper-block {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 100%;
      min-width: 70.3125rem;
      height: 100px;
      z-index: 1;
      background: no-repeat center url('../images/header-semicircle.svg');
      background-size: cover;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 1170px;
    padding: 1.375rem var(--section-padding);
    margin: 0 auto;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
  }

  .logo {
    display: block;
    min-width: 6.25rem;
    margin-right: 4.5vw;
    z-index: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 100%;
    margin-top: -0.125rem;
    transition: color var(--transition-link);
  }

  &__phone {
    min-width: 11.75rem;
  }

  &__phone-block {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: var(--color-green-lighter);
    transition: background-color var(--transition-link);
  }

  &__phone-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--color-white);
  }

  &__phone-text {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__container {
    max-width: 71.875rem;
    padding-left: 3.75rem;
    padding-right: 1.875rem;
    margin: 0 auto;
  }
  
  &__controls {
    padding-top: 22rem;
  }

  &__btn {
    position: relative;
    margin-bottom: 3.1875rem;
    z-index: 2;
  }

  &__pagination-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2px;
    z-index: 2;
  }

  &__counter {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:nth-of-type(1) {
      margin-right: 1.3125rem;
    }

    &:nth-of-type(2) {
      margin-left: 1.0625rem;
    }
  }

  &__pagination {
    display: flex;
    gap: 1.25rem;

    .swiper-pagination-bullet {
      display: block;
      width: 3.1875rem;
      height: 0.25rem;
      cursor: pointer;
      border-radius: 6.25rem;
      background-color: var(--color-white);
      transition: background-color var(--transition);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-blue-darker);
    }
  }

  &  ~ .header-swiper__container {
    box-sizing: content-box;
    max-width: 65.75rem;
    padding-left: 3.75rem;
    padding-right: 2.5rem;
}
}

// ----- Медиа-запросы -----
@media(hover: hover) {
  .header {
    &__link {
      &:focus-visible {
        outline-offset: var(--outline-offset);
        outline: var(--outline-blue);
        color: var(--color-blue-darker);

        .header__phone-block {
          background-color: var(--color-blue-darker);
        }
      }

      &:hover {
        color: var(--color-blue-darker);

        .header__phone-block {
          background-color: var(--color-blue-darker);
        }
      }

      &:active {
        color: var(--color-blue-darker-2);

        .header__phone-block {
          background-color: var(--color-blue-darker-2);
        }
      }
    }
  }
}

@media(hover: none) {
  .header {
    &__link {
      &:focus-visible {
        outline-offset: var(--outline-offset);
        outline: var(--outline-blue);
        color: var(--color-blue-darker);

        .header__phone-block {
          background-color: var(--color-blue-darker);
        }
      }

      &:active {
        color: var(--color-blue-darker-2);

        .header__phone-block {
          background-color: var(--color-blue-darker-2);
        }
      }
    }
  }
}

// 1024px
@include media('max', 'xl') {
  .header {
    min-height: 55rem;
    overflow: visible;

    &__wrapper {
      padding: 0;
    }

    &__content {
      justify-content: space-between;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    }

    &__swiper-block {
      &::after {
        content: none;
      }
    }

  }
}

// 768px
@include media('max', 'lg') {
  .header {
    min-height: 49rem;

    &__content {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    &__phone {
      display: none;
      visibility: hidden;
    }
  }
}

// 480px
@include media('max', 'sm') {
  .header {
    min-height: 37rem;
    margin-bottom: 1.6875rem;
    
    &__content {
      padding: 0.625rem 0.625rem 0.625rem 1.25rem;
    }
    
    .logo {
      max-width: 5rem;
      min-width: 5rem;
      margin-right: 0;
    }

    &__logo {
      z-index: 99;
    }

    &__controls {
      width: 100%;
      padding: 0 1.25rem 1.6875rem;
    }

    &__counter {
      &:nth-child(2) {
        margin-left: 1.1875rem;
      }
    }

    &__btn {
      margin-bottom: calc(6.25rem - 15vw);
    }

    &__pagination-wrapper {
      justify-content: space-between;
      padding: 0;
    }
  }
}