.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition), visibility var(--transition);
  animation: blur-in 500ms 2s forwards;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  &__content {
    min-width: 68.6rem;
    padding: 3rem;
  }

  &__header {
    position: relative;
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 1.875rem 3.125rem;
    background-color: var(--color-white);
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }
  
  &__text-block {
    margin-right: 2rem;
  }

  &__close-btn {
    position: absolute;
    top: 3.0625rem;
    right: 3.1875rem;
    max-height: 3.5rem;
  }

  &__close-icon {
    fill: transparent;
    stroke: var(--color-section-title);
    stroke-width: 3px;
    transition: stroke var(--transition);
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 3.125rem;
    border-radius: 0 0 1.25rem 1.25rem;
    background-color: var(--color-modal-bg);
  }

  &__title {
    margin-bottom: 1.25rem;
    color: var(--color-section-title);
    font-size: 4.0625rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__text-block {
    max-width: 21.875rem;
  }

  &__descr {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    &__item {
      max-width: 31.25rem;
    }

    &__input {
      width: 100%;
      max-height: 4.375rem;
      padding: 1.875rem 1.5rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--color-gray-lighter-2);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      background-color: var(--color-white);
      transition: background-color var(--transition-link);
  
      &::placeholder {
        color: var(--color-gray-darker);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  
    &__textarea {
      width: 100%;
      min-height: 12.5rem;
      padding: 1.875rem 1.5rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--color-gray-lighter-2);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      background-color: var(--color-white);
      resize: none;
      transition: background-color var(--transition-link);
  
      &::placeholder {
        color: var(--color-gray-darker);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  
    &__check-wrapper {
      position: relative;
      justify-self: center;
    }
  
    &__label-check {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
  
    &__custom-check {
      position: relative;
      min-width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.625rem;
      border: 2px solid transparent;
      background-color: var(--color-white);
      transition: border var(--transition-link);
  
      &::before {
        content: "";
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0.625rem;
        left: 0.4375rem;
        width: 1.5rem;
        height: 1.125rem;
        border: none;
        background: no-repeat center url('../images/check-mark.svg');
        transition: opacity var(--transition-link);
      }
    }
  
    &__check {
      display: none;
      width: auto;
      
      &:checked ~ .modal-form__custom-check::before {
        opacity: 1;
        visibility: visible;
      }
    }
  
    &__check-descr {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: color var(--transition-link);
    }
  
    &__btn-wrapper {
      justify-self: center;
    }

    &__btn {
      width: 100%;
      z-index: 0;
    }
  }
}

@media (hover: hover) {
  .modal {
    .modal-form {
      &__input {
        &:focus-visible {
          outline-offset: 0;
          outline: var(--outline);
        }
  
        &:hover {
          background-color: var(--color-green-lighter-3);
        }
      }
  
      &__textarea {
        &:focus-visible {
          outline-offset: 0;
          outline: var(--outline);
        }
  
        &:hover {
          background-color: var(--color-green-lighter-3);
        }
      }
  
      &__label-check {
        &:focus-visible {
          outline: none;
  
          .modal-form__custom-check {
            border: var(--outline);
            background-color: var(--color-green-lighter-3);
          }
        }
  
        &:hover {
          .modal-form__check-descr {
            color: var(--color-green);
          }
  
          .modal-form__custom-check {
            border-color: var(--color-green-lighter-2);
          }
        }
      }
    }

    &__close-btn {
      &:focus-visible {
        outline-offset: var(--outline-offset);
        outline: var(--outline-blue);

        .modal__close-icon {
          stroke: var(--color-blue-darker);
        }
      }

      &:hover {
        .modal__close-icon {
          stroke: var(--color-blue);
        }
      }

      &:active {
        .modal__close-icon {
          stroke: var(--color-blue-darker);
        }
      }
    }
  }
}

@media (hover: none) {
  .modal-form {
    .modal-form {
      &__input {
        &:focus-visible {
          outline-offset: 0;
          outline: var(--outline);
        }
      }
  
      &__textarea {
        &:focus-visible {
          outline-offset: 0;
          outline: var(--outline);
        }
      }
  
      &__label-check {
        &:focus-visible {
          outline: none;
  
          .modal-form__custom-check {
            border: var(--outline);
            background-color: var(--color-green-lighter-3);
          }
        }
      }
    }

    &__close-btn {
      &:focus-visible {
        outline-offset: var(--outline-offset);
        outline: var(--outline-blue);

        .modal__close-icon {
          stroke: var(--color-blue-darker);
        }
      }

      &:active {
        .modal__close-icon {
          stroke: var(--color-blue-darker);
        }
      }
    }
  }
}

@include media('max', 'xl') {
  .modal {
    display: none;
  }
}