@import './blocks/request-form';

.request {
  margin-bottom: var(--gap-section);

  &__container {
    min-height: 46.875rem;
    border-radius: var(--border-radius-section);
  }
  
  &__wrapper {
    position: relative;
    border-radius: var(--border-radius-section);
    background: linear-gradient(rgba(217, 233, 215, 1), rgba(179, 211, 174, 1));
    background-origin: content-box;

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      width: calc(30.25rem + 18vw);
      height: 5.875rem;
      background: no-repeat right top url('../images/request-bg.svg');
      background-size: contain;
      z-index: 1;
    }
  }

  &__content {
    padding: 1.6875rem var(--section-padding) 6.25rem;
  }

  &__title-block {
    max-width: 24rem;
    margin-bottom: 3.0625rem;
    color: var(--color-green-lighter-2);
  }

  &__title {
    line-height: 100%;
  }
}

// 1024px
@include media('max', 'xl') {
  .request {
    &__container {
      min-height: auto;      
      position: relative;
      background: linear-gradient(rgba(217, 233, 215, 1), rgba(179, 211, 174, 1));

      &::before {
        content: url('../images/section-graphic.svg');
        position: absolute;
        top: 0;
        left: 0;
        width: 3.875rem;
        height: 3.875rem;
        transform: scale(-1, 1);
        will-change: transform;
      }

      &::after {
        content: url('../images/section-graphic.svg');
        position: absolute;
        top: 0;
        right: 0;
        width: 3.875rem;
        height: 3.875rem;
      }
    }

    &__wrapper {
      background: none;

      &::before {
        display: none;
      }
    }

    &__title-block {
      max-width: 100%;
    }
  }
}

// 768px
@include media('max', 'lg') {
  .request {
    &__content {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}

// 480px
@include media('max', 'sm') {
  .request {
    margin-bottom: calc(var(--gap-section) - 1px);

    &__container {
      border-radius: 2.1875rem;

      &::before {
        content: url('../images/section-graphic-mobile.svg');
        top: -1px;
        width: 2.4375rem;
        height: 3.1875rem;
        transform: scale(1, 1);
      }

      &::after {
        content: url('../images/section-graphic-mobile.svg');
        top: -1px;
        width: 2.4375rem;
        height: 3.1875rem;
        transform: scale(-1, 1);
      }
    }

    &__content {
      padding: 1.1875rem var(--gap-main) 1.9375rem;
    }

    &__title-block {
      margin-bottom: 1.875rem;
    }

    &__container {
      min-height: auto;
    }
  }
}