@import './blocks/services-swiper';

.services {  
  &__content {
    margin-top: -1.0625rem;
    background-color: var(--color-section-bg);
  }

  &__container {
    padding-top: 3.75rem;
    padding-bottom: 1.25rem;
  }

  &__title-block {
    position: relative;
    max-width: 31rem;
    padding-bottom: 0.625rem;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
    background-color: var(--color-section-bg);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3.875rem;
      height: 3.6875rem;
      background: no-repeat url('../images/section-graphic.svg');
      background-size: cover;
      transform: scale(-1, 1);
      will-change: transform;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 3.875rem;
      height: 3.6875rem;
      background: no-repeat url('../images/section-graphic.svg');
      background-size: cover;
    }
  }

  &__title {
    padding-top: 1.6875rem;
  }

  &__content {
    display: flex;
  }

  .swiper-wrapper {
    min-width: 0;
    height: auto;
  }

  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 16.875rem;
    min-height: 31.25rem;
    height: auto;
  }

  &__fraction {
    position: absolute;
    display: none;
    bottom: 0.625rem;
    left: 0;
    width: 18.75rem;
  }
  
  &-card {
    min-width: 0;
    max-width: 14.875rem;
    overflow: hidden;
    border-radius: var(--border-radius-img);
    background-color: var(--color-green-lighter);
    transition: background-color .2s ease-in-out;

    &:not(:last-child) {
      margin-right: var(--gap-main);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      border-radius: var(--border-radius-img);
      background: linear-gradient(rgba(0, 102, 255, 0) 30%, rgba(0, 102, 255, .3), rgba(0, 0, 0, 1));
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      border-radius: var(--border-radius-img);
      background: linear-gradient(rgba(0, 102, 255, .4) 30%, rgba(0, 102, 255, .3), rgba(0, 0, 0, 1));
      transition: opacity .3s ease-in-out;
    }

    &__icon-block {
      height: 5.25rem;
      padding-top: 11.375rem;
      padding-bottom: 2.25rem;
      z-index: 2;
    }

    &__icon {
      fill: var(--color-white);
    }

    #services-icon-4 {
      fill: transparent;
      stroke-width: 5px;
      stroke: var(--color-white);
    }

    &__title {
      display: block;
      max-width: 13.4375rem;
      min-height: 4.5rem;
      z-index: 2;
      color: var(--color-white);
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      transition: opacity .3s ease-in-out;

      &--opacity {
        opacity: 0;
      }
    }
    
    #services-title-2 {
      max-width: 11.875rem;
    }

    &__arrow-block {
      margin-bottom: 2.6875rem;
      margin-top: auto;
      pointer-events: none;
      z-index: 4;
    }

    &__arrow {
      fill: transparent;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 4px;
      stroke: var(--color-white);
      transition: transform .3s ease-in-out;

      &--rotate {
        transform: rotate(180deg);
      }
    } 
    
    &__link-wrapper {
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 13.125rem;
      z-index: 3;
      opacity: 0;
      border-radius: 6.25rem 6.25rem 0 0;
      background-color: var(--color-blue);
      transform: translateY(100%);
      will-change: transform;
      transition: opacity .3s ease-in-out, transform .3s ease-in-out, visibility .3s ease-in-out;

      &--visible {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0s, opacity var(--transition);
      }
    }

    &__link {
      display: block;
      margin-top: 3.75rem;
      margin-bottom: 6.25rem;
      color: var(--color-white);
      text-align: center;
      font-size: 1.5625rem;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      transition: color var(--transition-link);

      &:focus-visible {
        outline: none;
        color: var(--color-yellow-lighter);
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: var(--border-radius-img);
      opacity: .6;
      filter: grayscale(100%);
      transition: filter .3s var(--transition), opacity .3s ease-in-out;
    }
  }
}

.webp #services-img-1 {
  background: no-repeat center url('../images/services-img_1.webp');
}

.no-webp #services-img-1 {
  background: no-repeat center url('../images/services-img_1.webp');
}

.webp #services-img-2 {
  background: no-repeat center url('../images/services-img_2.webp');
}

.no-webp #services-img-2 {
  background: no-repeat center url('../images/services-img_2.webp');
}

.webp #services-img-3 {
  background: no-repeat center url('../images/services-img_3.webp');
}

.no-webp #services-img-3 {
  background: no-repeat center url('../images/services-img_3.webp');
}

.webp #services-img-4 {
  background: no-repeat center url('../images/services-img_4.webp');
}

.no-webp #services-img-4 {
  background: no-repeat center url('../images/services-img_4.webp');
}

.webp #services-img-1,
.webp #services-img-2,
.webp #services-img-3,
.webp #services-img-4,
.no-webp #services-img-1,
.no-webp #services-img-2,
.no-webp #services-img-3,
.no-webp #services-img-4 {
  background-size: cover;
}

// ----- Медиа-запросы -----
@media(hover: hover) {
  .services {
    &-card {
      &:hover {
        &::after {
          opacity: 1;
        }

        .services-card__title {
          opacity: 0;
        }

        .services-card__arrow {
          transform: rotate(180deg);
          will-change: transform;
        }

        .services-card__img {
          opacity: 1;
          filter: grayscale(0%);
        }

        .services-card__link-wrapper {
          transform: translateY(0);
          opacity: 1;
        }
      }

      &__link {
        &:hover {
          color: var(--color-yellow);
        }

        &:active {
          color: var(--color-yellow-darker);
        }
      }
    }
  }
}

@media (hover: none) {
  .services {
    &-card {
      &__arrow-block {
        pointer-events: all;
      }
    }
  }
}

// 768px
@include media('max', 'lg') {
  .services {
    &__title {
      padding-top: 2.25rem;
    }
  }
}

// 480px
@include media('max', 'sm') {
  .services {
    &__content {
      position: relative;
      padding-bottom: 2.375rem;
      margin-top: 0;
    }

    &__title-block {
      max-width: 100%;
      padding-bottom: 0;

      &::before {
        top: -1px;
        left: 0;
        background: no-repeat top left url('../images/section-graphic-mobile.svg');
        background-size: 2.5rem 3.3125rem;
        transform: none;
      }

      &::after {
        top: -1px;
        right: 0;
        background: no-repeat top left url('../images/section-graphic-mobile.svg');
        background-size: 2.5rem 3.3125rem;
        transform: scale(-1, 1);
      }
    }

    &__title {
      padding-top: 1.1875rem;
    }

    .swiper-slide {
      min-width: 100%;
    }

    &-card {
      &__link {
        width: 100%;
        padding: 0 1.25rem;
      }
    }

    &__fraction {
      position: absolute;
      bottom: 1.875rem;
      right: 0;
      display: flex;
      justify-content: space-between;
      width: 17.5rem;
      margin: 0 auto;

      &-item {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}