.address {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__link {
    display: flex;
    gap: 0.625rem;
    min-width: 12.5rem;
    transition: color var(--transition-link);
  }

  &__schedule {
    display: flex;
    gap: 0.625rem;
    min-width: 12.5rem;
  }

  &__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 1.875rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      background-color: var(--color-green-lighter);
    }
  }

  &__icon-wrapper {
    &::before {
      transition: background-color var(--transition-link);
    }
  }

  &__icon {
    padding-top: 0.375rem;
    z-index: 1;
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--color-white);
  }

  &__title {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__descr {
    position: relative;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &--underline {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 83%;
        height: 1px;
        background-color: var(--color-black);
      }
    }
  }
}

// ----- Медиа-запросы -----
@media(hover: hover) {
  .address {
    &__link {
      &:focus-visible {
        outline-offset: var(--outline-offset);
        outline: var(--outline-blue);
        color: var(--color-blue);

        .address__icon-wrapper::before {
          background-color: var(--color-blue);
        }
      }

      &:hover {
        color: var(--color-blue);

        .address__icon-wrapper::before {
          background-color: var(--color-blue);
        }
      }

      &:active {
        color: var(--color-blue-darker);

        .address__icon-wrapper::before {
          background-color: var(--color-blue-darker);
        }
      }
    }
  }
}

@media(hover: none) {
  .address {
    .address {
      &__link {
        &:focus-visible {
          outline-offset: var(--outline-offset);
          outline: var(--outline-blue);
          color: var(--color-blue);
  
          .address__icon-wrapper::before {
            background-color: var(--color-blue);
          }
        }
  
        &:active {
          color: var(--color-blue-darker);
  
          .address__icon-wrapper::before {
            background-color: var(--color-blue-darker);
          }
        }
      }
    }
  }
}

// 768px
@include media('max', 'lg') {
  .contacts {
    .address {
      align-items: center;

      &__link,
      &__schedule {
        flex-direction: column;
        align-items: center;
      }

      &__text-block {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__title,
      &__descr {
        text-align: center;
      }

      &__descr--underline {        
        &::before {
          width: 100%;
        }
      }
    }
  }
}

// 480
@include media('max', 'sm') {
  .contacts {
    .address {
      gap: 1.625rem;
      margin-bottom: 1.625rem;

      &__link,
      &__schedule {
        gap: 0.9375rem;
      }
    }
  }
}