.header {
  .header-swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-section-bg);
  
    &__container {
      max-width: 71.875rem;
      padding-left: 3.75rem;
      padding-right: 1.875rem;
      margin: 0 auto;
    }
  
    &__controls {
      padding-top: 22rem;
    }
  
    &__btn {
      position: relative;
      margin-bottom: 3rem;
      z-index: 2;
    }
  
    &__pagination-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 2;
    }
  
    &__counter {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  
      &:nth-of-type(1) {
        margin-right: 21px;
      }
  
      &:nth-of-type(2) {
        margin-left: 17px;
      }
    }
  
    &__pagination {
      display: flex;
      gap: 1.25rem;
  
      .swiper-pagination-bullet {
        display: block;
        width: 3.1875rem;
        height: 0.25rem;
        cursor: pointer;
        border-radius: 6.25rem;
        background-color: var(--color-white);
        transition: background-color var(--transition);
      }
  
      .swiper-pagination-bullet-active {
        background-color: var(--color-blue-darker);
      }
    }

    &  ~ .header-swiper__container {
      box-sizing: content-box;
      max-width: 65.75rem;
      padding-left: 3.75rem;
      padding-right: 2.5rem;
  }
  
    // Слайды
    .header-slide {
      position: relative;
      display: flex;
      justify-content: center;
      min-height: 46.875rem;
      overflow: hidden;
  
      &__content {
        display: flex;
        gap: 2.5rem;
        max-width: 70rem;
        padding-top: 9.5625rem;
        padding-right: 1.875rem;
        padding-left: 3.75rem;
      }
  
      &__title {
        max-width: 34.375rem;
        height: fit-content;
        padding-top: 2.0625rem;
        color: var(--color-section-title);
        @include font(50, 36);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
  
      #header-slide-title-1 {
        max-width: 32.1875rem;
        padding-top: 2.4375rem;
      }

      &__img-block {
        position: relative;
        min-width: 505px;

        &::before {
          content: '';
          position: absolute;
          top: -18.6875rem;
          left: -21.5rem;
          width: 71rem;
          height: 71rem;
          z-index: -1;
          border-radius: 100%;
          border: 2px solid transparent;
          background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) border-box;
          -webkit-mask:
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
                  mask-composite: exclude;
        }
      }

      &__picture {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: -9.6875rem;
          left: -12.625rem;
          width: 53.125rem;
          height: 53.125rem;
          z-index: -1;
          border-radius: 100%;
          border: 2px solid transparent;
          background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) border-box;
          -webkit-mask:
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
                  mask-composite: exclude;
        }

        &::after {
          content: '';
          position: absolute;
          top: -3.375rem;
          left: -6.375rem;
          width: 40.625rem;
          height: 40.625rem;
          z-index: -1;
          border-radius: 100%;
          border: 2px solid transparent;
          background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) border-box;
          -webkit-mask:
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
                  mask-composite: exclude;
        }
      }

      &__img {
        display: block;
      }
    }

    #header-slide-2,
    #header-slide-3 {
      .header-slide__content {
        gap: 5px;
        width: 100%;
        max-width: 65.75rem;
        padding-left: 3.75rem;
        padding-right: 2.5rem;
      }

      .header-slide__img {
        padding-top: 1.875rem;
      }
    }

    #header-slide-2 {
      .header-slide__content {
        position: relative;
        justify-content: flex-end;
      }

      .header-slide__img-block {
        &::before {
          left: -20.3125rem;
        }
      }

      .header-slide__picture {
        &::before {
          left: -11.375rem;
        }

        &::after {
          left: -5.125rem;
        }
      }

      .header-slide__img {
        min-width: 450px;
        padding-top: 2.95rem;
      }

      .header-slide__title {
        position: absolute;
        top: 152px;
        left: 3.75rem;
      }
    }
  }
}

// ----- Изображения на слайдах -----
// 1
.webp #header-slide-1 {
  background-image: url('../images/header-slide-bg_1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.no-webp #header-slide-1 {
  background-image: url('../images/header-slide-bg_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// 2
.webp #header-slide-2 {
  background-image: url('../images/header-slide-bg_2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.no-webp #header-slide-2 {
  background-image: url('../images/header-slide-bg_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

// 3
.webp #header-slide-3 {
  background-image: url('../images/header-slide-bg_3.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.no-webp #header-slide-3 {
  background-image: url('../images/header-slide-bg_3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// ----- Медиа-запросы -----
@media(hover: hover) {
  .header {
    .header-swiper {
      &__pagination {
        .swiper-pagination-bullet {
          &:hover {
            background-color: var(--color-blue-lighter);
          }
        }

        .swiper-pagination-bullet-active {
          &:hover {
            background-color: var(--color-blue-darker);
          }
        }
      }
    }
  }
}

// 1024px
@include media('max', 'xl') {
  .header {
    .header-swiper {
      height: 100%;

      &__container.header-swiper__container {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
      }

      &__controls {
        padding: 0 1rem 2rem;
        margin-bottom: auto;
      }
      
      .header-slide {
        &__content {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding: 0;
          padding-top: 8rem;
        }

        &__img-block {
          min-width: 25rem;
          max-width: 25rem;

          &::before {
            top: -9.375rem;
            left: -11.875rem;
            width: 46rem;
            height: 46rem;
            background: linear-gradient(to top right, rgba(237, 237, 237, 1), rgba(255, 255, 255, 1));
          }
        }

        &__picture {
          &::before {
            top: -4.375rem;
            left: -6.875rem;
            width: 36rem;
            height: 36rem;
            background: linear-gradient(to top right, rgba(237, 237, 237, 1), rgba(255, 255, 255, 1));
          }

          &::after {
            top: -0.625rem;
            left: -3.125rem;
            width: 28rem;
            height: 28rem;
            background: linear-gradient(to top right, rgba(237, 237, 237, 1), rgba(255, 255, 255, 1));
          }
        }

        &__img {
          height: 25rem;
          object-fit: contain;
        }
        
        &__title {
          position: relative;
          order: 2;
          padding: 0;
          text-align: center;
        }

        #header-slide-title-1 {
          max-width: 40rem;
          padding: 0;
        }

        &__br {
          display: none;
        }
      }

      #header-slide-2,
      #header-slide-3 {
        .header-slide__content {
          justify-content: flex-start;
          gap: 2.5rem;
          width: auto;
          max-width: 65.75rem;
          padding: 0;
          padding-top: 8rem;
        }

        .header-slide__title {
          position: relative;
          top: 0;
          left: 0;
        }

        .header-slide__img-block {
          &::before {
            left: -165px;
            top: -170px;
          }
        }

        .header-slide__picture {
          &::before {
            left: -85px;
            top: -90px;
          }

          &::after {
            top: -1.25rem;
            left: -25px;
          }
        }

        .header-slide__img {
          min-width: 300px;
          padding-top: 0;
        }
      }
    }
  }
}

// 768px
@include media('max', 'lg') {
  .header {
    .header-swiper {
      .header-slide {
        &__title {
          max-width: 24rem;
          font-size: 1.875rem;
        }

        #header-slide-title-1 {
          max-width: 24rem;
        }

        &__img-block {
          min-width: 20rem;
          max-width: 20rem;

          &::before {
            top: -6.25rem;
            left: -8.125rem;
            width: 34rem;
            height: 34rem;
          }
        }

        &__picture {
          &::before {
            top: -3.125rem;
            left: -5rem;
            width: 28rem;
            height: 28rem;
          }

          &::after {
            top: -0.3125rem;
            left: -2.1875rem;
            width: 22rem;
            height: 22rem;
          }
        }

        &__img {
          height: 20rem;
        }
      }

      #header-slide-2,
      #header-slide-3 {
        .header-slide__img-block {
          &::before {
            top: -6.875rem;
            left: -7.1875rem;
          }
        }

        .header-slide__picture {
          &::before {
            top: -3.75rem;
            left: -4.375rem;
          }

          &::after {
            top: -0.8125rem;
            left: -1.25rem;
          }
        }
      }
    }
  }
}

// 480px
@include media('max', 'sm') {
  .header {
    .header-swiper {
      #header-slide-1,
      #header-slide-2,
      #header-slide-3 {
        background: none;
      }

      #header-slide-2,
      #header-slide-3 {
        .header-slide {
          &__content {
            gap: 1.25rem;
            padding-top: 6.25rem;
          }

          &__img-block {
            &::before {
              top: -6.75rem;
              left: -3.9375rem;
            }
          }

          &__picture {
            &::before {
              top: -3.25rem;
              left: -0.4375rem;
            }

            &::after {
              left: 2rem;
            }
          }

          &__img {
            min-width: 13.75rem;
            max-width: 13.75rem;
            padding-left: 0;
            padding-right: .5rem;
          }
        }
      }

      #header-slide-3 {
        .header-slide {
          &__content {
            gap: 1.5625rem;
          }

          &__img {
            max-width: 12.9375rem;
            min-width: 12.9375rem;
            padding-right: 0;
            margin-top: -0.3125rem;
          }
        }
      }

      .header-slide {
        &__content {
          gap: 1.25rem;
          padding-top: 5.625rem;
        }

        &__img-block {
          &::before {
            top: -5.9375rem;
            left: -4.3125rem;
            width: 27.625rem;
            height: 27.625rem;
            background: linear-gradient(200deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.05)) border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
          }
        }

        &__picture {
          &::before {
            top: -2.6875rem;
            left: -.5rem;
            width: 20.625rem;
            height: 20.625rem;
            background: linear-gradient(200deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.05)) border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
          }

          &::after {
            top: -0.1875rem;
            left: 2.0625rem;
            width: 15.7rem;
            height: 15.7rem;
            background: linear-gradient(200deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.05)) border-box;
            -webkit-mask:
              linear-gradient(#fff 0 0) padding-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
          }
        }

        &__img {
          height: 14.313rem;
          max-width: fit-content;
          padding-left: 1.625rem;
          margin: 0 auto;
        }

        &__title {
          max-width: 17.5rem;
          @include font(80, 20);
        }
        
        #header-slide-title-1 {
          max-width: 17.5rem;
        }
      }

      &__controls {
        width: 100%;
        padding: 0 1.25rem 1.6875rem;
      }

      &__btn {
        margin-bottom: 3.25rem;
      }

      &__pagination-wrapper {
        justify-content: space-between;
      }
    }
  }
}