.services-swiper.services-swiper {
  padding: 3.625rem 0.9375rem 10.125rem;
}

// ----- Медиа-запросы -----
// 480px
@include media('max', 'sm') {
  .services {
    .services-swiper {
      padding: 1.6875rem 1.5625rem 0;

      &__wrapper {
        margin-bottom: 2.375rem;
      }

      &__pagination-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      &__pagination {
        display: flex;
        justify-content: center;
        gap: 0.9375rem;
    
        .swiper-pagination-bullet {
          display: block;
          width: 2.3125rem;
          height: 0.25rem;
          cursor: pointer;
          border-radius: 6.25rem;
          background-color: var(--color-white);
          transition: background-color var(--transition);
        }
    
        .swiper-pagination-bullet-active {
          background-color: var(--color-blue-darker);
        }
      }
    }
  }
}