html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  height: auto;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: normal;
  color: var(--color-main-text);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

::selection {
  background-color: var(--color-blue);
  color: white;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
  margin-bottom: var(--gap-section);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-title {
  &.hidden {
    position: absolute;
    top: -100rem;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }
}

.section-title {
  color: var(--color-section-title);
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 85%;
  text-transform: uppercase;
}

.descr-default {
  color: var(--color-main-text);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-default.btn-default {
  position: relative;
  padding: 1.375rem 2.75rem 1.125rem;
  border-radius: var(--border-radius-btn);
  color: var(--color-white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-btn);
  box-shadow: var(--shadow-btn);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    border-radius: var(--border-radius-btn);
    background: var(--color-blue-darker);
    transition: opacity var(--transition);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    border-radius: var(--border-radius-btn);
    background: var(--color-blue-darker-2);
    transition: opacity var(--transition);
  }
}

.fraction {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
}

.privacy {
  position: relative;
  display: inline;
  color: var(--color-gray);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color var(--transition-link), background-color var(--transition-link);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    transition: background-color var(--transition-link);
  }
}

.cut {
  position: absolute;
  bottom: -1.875rem;
  left: 0;
  display: none;
  visibility: hidden;
  width: 100%;
  height: 3.75rem;
  z-index: 1;
  transition: transform var(--transition);

  &__img-block {
    transition: transform var(--transition);
  }

  &__img {
    display: block;
  }
}

.cut-rotate {
  transform: rotate(180deg);
  will-change: transform;
}

.cut-text {
  background-image: none !important;
  -webkit-text-fill-color: var(--color-black) !important;
}

.modal-blur {
  backdrop-filter: blur(12.5px);
  transition: filter var(--transition);
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(12.5px);
  }
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 7.969vw;
  height: 9.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--transition), opacity var(--transition), fill var(--transition);
  
  &__icon {
    fill: var(--color-blue-lighter);
    transition: fill var(--transition-link);
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }
}

// ----- Медиа-запросы -----
@media(hover: hover) {
  .btn-default.btn-default {
    &:focus-visible {
      outline-offset: var(--outline-offset);
      outline: var(--outline-blue);

      &::before {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::after {
        opacity: 1;
      }
    }
  }

  .privacy {
    &:focus-visible {
      outline-offset: var(--outline-offset);
      outline: var(--outline-blue);
      color: var(--color-blue-darker);

      &::after {
        background-color: var(--color-blue-darker);
      }
    }

    &:hover {
      color: var(--color-blue);

      &::after {
        background-color: var(--color-blue);
      }
    }

    &:active {
      color: var(--color-blue-darker-2);

      &::after {
        background-color: var(--color-blue-darker-2);
      }
    }
  }

  .back-to-top {
    &:focus-visible {
      outline-offset: var(--outline-offset);
      outline: var(--outline-blue);
      
      .back-to-top__icon {
        fill: var(--color-blue);
      }
    }

    &:hover {
      .back-to-top__icon {
        fill: var(--color-blue);
      }
    }

    &:active {
      .back-to-top__icon {
        fill: var(--color-blue-darker);
      }
    }
  }
}

@media(hover: none) {
  .btn-default.btn-default {
    &:active {
      &::after {
        opacity: 1;
      }
    }
  }

  .privacy {
    &:focus-visible {
      outline-offset: var(--outline-offset);
      outline: var(--outline-blue);
      color: var(--color-blue-darker);

      &::after {
        background-color: var(--color-blue-darker);
      }
    }

    &:active {
      color: var(--color-blue-darker-2);

      &::after {
        background-color: var(--color-blue-darker-2);
      }
    }
  }

  .back-to-top {
    &:focus-visible {
      outline-offset: var(--outline-offset);
      outline: var(--outline-blue);
      
      .back-to-top__icon {
        fill: var(--color-blue);
      }
    }

    &:active {
      .back-to-top__icon {
        fill: var(--color-blue-darker);
      }
    }
  }
}

// 1024px
@include media('max', 'xl') {
  .container {
    padding: 0;
  }

  .section-title {
    text-align: center;
  }

  .back-to-top {
    width: 4rem;
    height: 4rem;
    right: 0.9375rem;
  }
}

// 768px
@include media('max', 'lg') {
  .section-title {
    font-size: 2.1875rem;
  }
}

// 480px
@include media('max', 'sm') {
  .wrapper {
    overflow: hidden;
  }

  .section-title.section-title {
    line-height: 85%;
  }

  .descr-default {
    font-size: 0.875rem;
  }

  .btn-default {
    box-sizing: border-box;
    width: 100%;
  }
  
  .cut {
    display: flex;
    justify-content: center;
    visibility: visible;
  }
}